$colorMain: #003B46;
$colorSub: #c4dfe6;
$color1: #66a5ad;
$color2: #07575b;
$dark-red1: #db796b;
$dark-red2: #bb2f2a;
$grey: #f5f5f5;
$dark-grey: #e7e7e7;
$black: #696969;

$fontMain: 'Amatic SC';
$fontSub: 'Patrick Hand';
$fontSub2: 'Patrick Hand';
/*
font-family: 'Amatic SC', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Roboto', sans-serif;
*/